services:
  discovery:
    image: hashicorp/consul:latest
    ports:
      - "8500:8500"
      - "8000:8000/udp"
    restart: always

  forum:
    #image: forum-microservices/forum
    build:
      context: ./forum

    ports:
      - "8082:8080"
    restart: always
    environment:
      - CONSUL_HOST=discovery
      - CONSUL_PORT=8500
      - DB_HOST=mysql_base_td6_forum
      - DB_PORT=3306
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - discovery
      - mysql_base_td6_forum
      - authentification
      - rabbitmq

  authentification:
    #image: forum-microservices/authentification
    build:
      context: ./authentification
    ports:
      - "8081:8080"
    restart: always
    environment:
      - CONSUL_HOST=discovery
      - CONSUL_PORT=8500
      - DB_HOST=mysql_base_td6_auth
      - DB_PORT=3306
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - discovery
      - mysql_base_td6_auth
      - rabbitmq



  gateway:
    #image: forum-microservices/api-gateway
    build:
      context: ./api-gateway
    restart: always
    ports:
      - "8080:8080"
    environment:
      - CONSUL_HOST=discovery
      - CONSUL_PORT=8500
    depends_on:
      - discovery

  mysql_base_td6_auth:
    image: mysql:latest
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: passwordtd6
      MYSQL_USER: usertd6
      MYSQL_PASSWORD: passwordtd6
      MYSQL_DATABASE: basetd6auth

  mysql_base_td6_forum:
    image: mysql:latest
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: passwordtd6
      MYSQL_USER: usertd6
      MYSQL_PASSWORD: passwordtd6
      MYSQL_DATABASE: basetd6forum


  rabbitmq:
    image: rabbitmq:management
    container_name: "rabbitmq"
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
